.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
rel/example_project
.concrete/DEV_MODE
.rebar
*~
rebar3.crashdump
*.iml
_build
.idea
logs
rebar.lock
_*
.rebar3
*.swp
*.swo
.erlang.cookie
ebin
log
